@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}

.join-page {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    flex-direction: column;
}

 .hidden {
    display: none;
}

.join-page img {
    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-bottom: 94px;
}

.join-page input {
    width: 261px;
    height: 54px;
    outline: none;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 18px;
}

.join-page input::placeholder {
    color: #AEAEAE;
}

.join-page button {
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px;
    border: none;
}

.join-page button p {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: rgba(105, 105, 105, 0.9);
}

.main-page header {
    background-color: #ffffff;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.main-page header img {
    margin: 0px 22px;
}

.main-page footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.main-page footer input {  
    font-size: 18px;
    font-weight: 400;
    color: black;
    border: none;
    outline: none;
}

.main-page footer * {
    margin: 0px 17px;
}

.main-page footer input::placeholder {
    color: black;
    font-style: italic;
}

.blur {
    opacity: 0;;
}

.blur.show {
    position:fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
}

.menu {
    width: 0;
    height: 0;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 6;
    right: 0;
    transition: width 0.28s;

    font-family: 'Roboto';
}

.menu.active {
    width: 70%;
    height: 100vh;
    position: fixed;
    z-index: 6;
    right: 0;
    top: 0;
}

.menu h1 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 35px;
    line-height: 18px;
}

.menu h2 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.menu div {
    display: flex;
    align-items: center;
}

.menu .wrap div img {
    margin-right: 7px;
}

.menu .wrap {
    margin-left: 17px;
    margin-right: 27px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    justify-content: space-between;
}

.menu .wrap>img {
    opacity: 0;
}

.menu .wrap img.checked {
    opacity: 1;
}

.box-msg {
    padding-top: 106px;
    padding-bottom: 84px;
}

.box-msg li{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    padding:8px 10px;
    margin-bottom: 4px;
    color: black;
    background-color: #FFF;
}

.message{
    background-color: #FFF;
}

li {
    min-height: 60px;
    font-family: 'Roboto';
    font-weight: 400;
}

li p {
    word-break: break-word;
}

li.status {
    background-color: #DCDCDC;
}

li.private-message {
    background-color: #FFDEDE;
}

li a {
    color: #AAAAAA;
}

li strong {
    font-weight: bold;
}
